@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$primary: #357F7E;
$primary_tranparent:rgb(53, 127, 126,  0.8);
$primary_light: #46A4A3;
$secondary:#F48476;
$secondary_light:#F4BFA0;
$secondary_rose:#FFBFBF;
$terciary:#FFE8C9;
$asap:'Asap', sans-serif;

#nav{
    background-color: #357F7E!important;
    color: $secondary;
    font-family:$asap;
}

.navbar-nav{
    .nav-item{
        a{
            font-family:$asap!important;
            font-size: xx-large;
        }
        &:hover {            
            text-decoration: underline;
        }
    }
}

#index-header{
    h1{
        font-family:$asap;
        color: $secondary_light;
        font-size: 6rem;
    }
    h4{
        font-family:$asap;
        color: white;
    }
    h3{
        font-family:$asap;
        color: white;
        font-weight: bold;
    }
    a{
        background-color:$secondary;            
        font-family:$asap;
        margin-left: 40%;
        margin-right: 50%;
        &:hover {
            background-color:$primary_light;
            text-decoration: underline;
        }
    }
}

#contac-header{
    height:15rem;
    background-color:$primary;
    h1{        
        color:$secondary;            
        font-family:$asap;
        text-transform: capitalize;
    }
}

#blog-header{
    height:25rem;
    background-color:$primary;
    h1{        
        color:$secondary;            
        font-family:$asap;
        text-transform: capitalize;
        font-style:italic;
        font-weight: bold;
    }
    p{
        font-family:$asap;
        font-size: x-large;
    }
}

#form-box{
    margin-top: 70px;
    .card-header{
        background: $secondary;
    }
    h4{
        font-family:$asap;
    }
    label{
        font-family:$asap;
    }
    button{
        background-color: $secondary;
        font-family:$asap;
        &:hover {
            background-color:$primary_light;
            text-decoration: underline;
        }
    }
}

#presentation{
    h2{
        color: $primary;
        font-family:$asap;
    }
    p{
        color: black;
        font-family:$asap;
    }
    button{
        background-color: $secondary;
        font-family:$asap;
    }
}

.card-header-image {
    img{
        height: auto;
    }
}

#card{
    background-color: rgb(255, 255, 255, 3);
    h4{
        color: $primary;
        font-family:$asap;
    }
    p{
        color: black;
        font-family:$asap;
    }
    a{
        background-color:$secondary_rose;
        font-family:$asap;
        color: white;
    }
}

.history{
    height: 30%;
    width: 80%;
    background-color:$primary;
    padding: 4%;
    border-radius: 10%;
    p{
        font-family:$asap;
        font-size: 20px;
        color: white;
    }
}

.slyderpar{
    width: 100%;
    height: 20%;
    padding: 3%;
    background-color:$primary;
    h1{
        font-family:$asap;
        color: white;
        text-transform: uppercase;
    }
}

.down-text{
    margin-left: 16%;
    width: 70%;
    height: 20%;
    background-color:$secondary;
    padding: 3%;
    border-radius: 25px;
    h2{
        font-family:$asap;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }
}

#icon{
    color:$primary;
    font-size: 6rem;
}

.card-img-top{
    border-radius: 25px;
}

#youtube{
    a{
        background-color:$secondary;            
        font-family:$asap;            ;
        &:hover {
            background-color:$primary_light;
            text-decoration: underline;
        }
    }
}

#blog-card{
    h1{
        color: $primary;
        font-family:$asap;
        font-weight: bold;
    }
    h3{
        color: white;
        font-family:$asap;
        font-weight: bold;
    }
    p{
        color: white;
        font-family:$asap;
    }
    a{
        font-family:$asap;
        font-weight: bold;
        text-decoration: none;
        color: $secondary;

        &:hover{
            text-decoration: underline;
        }
    }
}

#about-header{
    height: 20em
}
#about-section{
    .row{
        margin-top: 1em;
    }

    h1{
        color: $primary;
        font-family:$asap;
        font-weight: bold;
    }
    p{
        font-family:$asap;
        font-size: larger;
    }

    .card-blog{
        width: 65%
    }

    .img-raised {
        width: 75%;
    }
}

.footer{
    .followinsta{
        width: 100%;
        height: 25%;
        background-color: $primary;
        padding: 3%;
        p{
            font-family:$asap;
            color: white;
            text-transform: uppercase;
            text-align: center;
            text-transform: capitalize;
            font-size: x-large;
        }
    }
    .give-contac{
        width: 100%;
        height: 25%;
        background-color:$primary_light;
        padding: 3%;
        p{
            font-family:$asap;
            color: $secondary;
            text-transform: uppercase;
            text-align: center;
            text-transform: capitalize;
            font-size: x-large;
        }
        button{
            background-color: $secondary_light;
            font-family:$asap;            
            &:hover {
                background-color:#4E4C4C;
                text-decoration: underline;
            }
        }
    }
    .contac-footer{
        width: 100%;
        height: 25%;
        background-color:#4E4C4C;
        padding: 3%;
        p{
            font-family:$asap;
            color: $secondary;
            text-transform: uppercase;
            text-align: center;
            text-transform: capitalize;
            font-size: x-large;
        }
        button{
            background-color:$secondary;            
            font-family:$asap;            ;
            &:hover {
                background-color:$primary_light;
                text-decoration: underline;
            }
        }
    }


}