@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
#nav {
  background-color: #357F7E !important;
  color: #F48476;
  font-family: "Asap", sans-serif;
}

.navbar-nav .nav-item a {
  font-family: "Asap", sans-serif !important;
  font-size: xx-large;
}
.navbar-nav .nav-item:hover {
  text-decoration: underline;
}

#index-header h1 {
  font-family: "Asap", sans-serif;
  color: #F4BFA0;
  font-size: 6rem;
}
#index-header h4 {
  font-family: "Asap", sans-serif;
  color: white;
}
#index-header h3 {
  font-family: "Asap", sans-serif;
  color: white;
  font-weight: bold;
}
#index-header a {
  background-color: #F48476;
  font-family: "Asap", sans-serif;
  margin-left: 40%;
  margin-right: 50%;
}
#index-header a:hover {
  background-color: #46A4A3;
  text-decoration: underline;
}

#contac-header {
  height: 15rem;
  background-color: #357F7E;
}
#contac-header h1 {
  color: #F48476;
  font-family: "Asap", sans-serif;
  text-transform: capitalize;
}

#blog-header {
  height: 25rem;
  background-color: #357F7E;
}
#blog-header h1 {
  color: #F48476;
  font-family: "Asap", sans-serif;
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
}
#blog-header p {
  font-family: "Asap", sans-serif;
  font-size: x-large;
}

#form-box {
  margin-top: 70px;
}
#form-box .card-header {
  background: #F48476;
}
#form-box h4 {
  font-family: "Asap", sans-serif;
}
#form-box label {
  font-family: "Asap", sans-serif;
}
#form-box button {
  background-color: #F48476;
  font-family: "Asap", sans-serif;
}
#form-box button:hover {
  background-color: #46A4A3;
  text-decoration: underline;
}

#presentation h2 {
  color: #357F7E;
  font-family: "Asap", sans-serif;
}
#presentation p {
  color: black;
  font-family: "Asap", sans-serif;
}
#presentation button {
  background-color: #F48476;
  font-family: "Asap", sans-serif;
}

.card-header-image img {
  height: auto;
}

#card {
  background-color: white;
}
#card h4 {
  color: #357F7E;
  font-family: "Asap", sans-serif;
}
#card p {
  color: black;
  font-family: "Asap", sans-serif;
}
#card a {
  background-color: #FFBFBF;
  font-family: "Asap", sans-serif;
  color: white;
}

.history {
  height: 30%;
  width: 80%;
  background-color: #357F7E;
  padding: 4%;
  border-radius: 10%;
}
.history p {
  font-family: "Asap", sans-serif;
  font-size: 20px;
  color: white;
}

.slyderpar {
  width: 100%;
  height: 20%;
  padding: 3%;
  background-color: #357F7E;
}
.slyderpar h1 {
  font-family: "Asap", sans-serif;
  color: white;
  text-transform: uppercase;
}

.down-text {
  margin-left: 16%;
  width: 70%;
  height: 20%;
  background-color: #F48476;
  padding: 3%;
  border-radius: 25px;
}
.down-text h2 {
  font-family: "Asap", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#icon {
  color: #357F7E;
  font-size: 6rem;
}

.card-img-top {
  border-radius: 25px;
}

#youtube a {
  background-color: #F48476;
  font-family: "Asap", sans-serif;
}
#youtube a:hover {
  background-color: #46A4A3;
  text-decoration: underline;
}

#blog-card h1 {
  color: #357F7E;
  font-family: "Asap", sans-serif;
  font-weight: bold;
}
#blog-card h3 {
  color: white;
  font-family: "Asap", sans-serif;
  font-weight: bold;
}
#blog-card p {
  color: white;
  font-family: "Asap", sans-serif;
}
#blog-card a {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #F48476;
}
#blog-card a:hover {
  text-decoration: underline;
}

#about-header {
  height: 20em;
}

#about-section .row {
  margin-top: 1em;
}
#about-section .row h1 {
  color: #357F7E;
  font-family: "Asap", sans-serif;
  font-weight: bold;
}
#about-section .row p {
  font-family: "Asap", sans-serif;
  font-size: larger;
}
#about-section .row .card-blog {
  width: 65%;
}
#about-section .row .img-raised {
  width: 75%;
}

.footer .followinsta {
  width: 100%;
  height: 25%;
  background-color: #357F7E;
  padding: 3%;
}
.footer .followinsta p {
  font-family: "Asap", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-transform: capitalize;
  font-size: x-large;
}
.footer .give-contac {
  width: 100%;
  height: 25%;
  background-color: #46A4A3;
  padding: 3%;
}
.footer .give-contac p {
  font-family: "Asap", sans-serif;
  color: #F48476;
  text-transform: uppercase;
  text-align: center;
  text-transform: capitalize;
  font-size: x-large;
}
.footer .give-contac button {
  background-color: #F4BFA0;
  font-family: "Asap", sans-serif;
}
.footer .give-contac button:hover {
  background-color: #4E4C4C;
  text-decoration: underline;
}
.footer .contac-footer {
  width: 100%;
  height: 25%;
  background-color: #4E4C4C;
  padding: 3%;
}
.footer .contac-footer p {
  font-family: "Asap", sans-serif;
  color: #F48476;
  text-transform: uppercase;
  text-align: center;
  text-transform: capitalize;
  font-size: x-large;
}
.footer .contac-footer button {
  background-color: #F48476;
  font-family: "Asap", sans-serif;
}
.footer .contac-footer button:hover {
  background-color: #46A4A3;
  text-decoration: underline;
}

/*# sourceMappingURL=extrastyle.css.map */
