{% extends 'index.html' %}
{% block title %}Conóceme{% endblock %}

{% block header %}
<div id="about-header" class="page-header header-filter"
    style="background-image: url({{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}})"></div>
{% endblock %}

{% block content %}
<div class="container">
    <div id="about-section" class="section">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1 class="title">¡Hola¡ soy Tania y esta es mi historia</h1>
                <p>NeuroCoach experta en Reinvención Profesional.
                    Mamá multiapasionada. Curiosa y coleccionista de atardeceres.
                    Muchas veces me sentí una profesional frustrada. Sí, no era feliz en mi trabajo! Tanto que hasta me
                    costaba reconocerlo.
                    Hace 18 anos que camino aplomada el “mundo laboral”. Recorrí cientos de empresas de 5 países.
                    También me sambullí en los pasillos internos de profesionales insatisfechos, bloqueados,
                    desmotivados en sus trabajos.
                    Mi mayor logro? Llevar en mi mochila crisis vocacionales y procesos de reinvención que hoy me
                    permiten mostrar con libertad y pleno disfrute mis talentos.
                    Gracias a eso, creé un método para acompañarte!
                    El método que a mí me hubiera encantado tener para lograr brillar en mi trabajo.
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card card-blog card-plain">
                    <div class="card-header card-header-image">
                        <img class="img" src="{{ url_for ('static', filename ='assets/img/Foto4.png')}}">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{ url_for ('static', filename ='assets/img/Foto5.png')}}"" class=" img-raised rounded
                    img-fluid" alt="">
            </div>
            <div class="col-sm-12 col-md-6">
                <p>NeuroCoach experta en Reinvención Profesional.
                    Mamá multiapasionada. Curiosa y coleccionista de atardeceres.
                    Muchas veces me sentí una profesional frustrada. Sí, no era feliz en mi trabajo! Tanto que hasta me
                    costaba reconocerlo.
                    Hace 18 anos que camino aplomada el “mundo laboral”. Recorrí cientos de empresas de 5 países.
                    También me sambullí en los pasillos internos de profesionales insatisfechos, bloqueados,
                    desmotivados en sus trabajos.
                    Mi mayor logro? Llevar en mi mochila crisis vocacionales y procesos de reinvención que hoy me
                    permiten mostrar con libertad y pleno disfrute mis talentos.
                    Gracias a eso, creé un método para acompañarte!
                    El método que a mí me hubiera encantado tener para lograr brillar en mi trabajo.
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{ url_for ('static', filename ='assets/img/Foto5.png')}}"" class=" img-raised rounded
                    img-fluid" alt="">
            </div>
            <div class="col-sm-12 col-md-6">
                <p>
                    NeuroCoach experta en Reinvención Profesional.
                    Mamá multiapasionada. Curiosa y coleccionista de atardeceres.
                    Muchas veces me sentí una profesional frustrada. Sí, no era feliz en mi trabajo! Tanto que hasta me
                    costaba reconocerlo.
                    Hace 18 anos que camino aplomada el “mundo laboral”. Recorrí cientos de empresas de 5 países.
                    También me sambullí en los pasillos internos de profesionales insatisfechos, bloqueados,
                    desmotivados en sus trabajos.
                    Mi mayor logro? Llevar en mi mochila crisis vocacionales y procesos de reinvención que hoy me
                    permiten mostrar con libertad y pleno disfrute mis talentos.
                    Gracias a eso, creé un método para acompañarte!
                    El método que a mí me hubiera encantado tener para lograr brillar en mi trabajo.
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h1 class="title">Mi propósito</h1>
                <p>¿Te has parado a pensar alguna vez que el trabajo ocupa un tercio de nuestra vida? Según una encuesta
                    de Gallup más del 85% de las personas no son felices en su trabajo. Por ello mi propósito es el
                    siguiente:
                    Mi propósito es un mundo en el que todas las personas son felices, se sienten libres y
                    auto-realizadas porque trabajan (por cuenta propia o ajena) en aquel trabajo alineado a su propósito
                    y valores de vida.
                    Cuando me levanto por la mañana me siento motivada porque sé que con mi trabajo estoy ayudando e
                    inspirando a personas como tú a luchar por sus sueños, dando ejemplo a través de mi perseverancia y
                    pasión</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h1 class="title">Mi visión</h1>
                <p>¿Te has parado a pensar alguna vez que el trabajo ocupa un tercio de nuestra vida? Según una encuesta
                    de Gallup más del 85% de las personas no son felices en su trabajo. Por ello mi propósito es el
                    siguiente:
                    Mi propósito es un mundo en el que todas las personas son felices, se sienten libres y
                    auto-realizadas porque trabajan (por cuenta propia o ajena) en aquel trabajo alineado a su propósito
                    y valores de vida.
                    Cuando me levanto por la mañana me siento motivada porque sé que con mi trabajo estoy ayudando e
                    inspirando a personas como tú a luchar por sus sueños, dando ejemplo a través de mi perseverancia y
                    pasión</p>
            </div>
        </div>
    </div>
    <img class="card-img-top" src="{{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}}"
        alt="Card image cap">
</div>
{% endblock %}