{% extends 'index.html' %}
{% block title %}Blog & Youtube{% endblock %}

{% block header %}
<div id="blog-header" class="page-header">
    <div class="container">
        <h1 class="text-center">¿Ya has visto mi canal Youtube de Marca Personal?
        </h1>
        <p class="text-justify">NeuroCoach experta en Reinvención Profesional.
            Mamá multiapasionada. Curiosa y coleccionista de atardeceres.
            Muchas veces me sentí una profesional frustrada. Sí, no era feliz en mi trabajo! Tanto que hasta me costaba
            reconocerlo.
            Hace 18 anos que camino aplomada el “mundo laboral”. Recorrí cientos de empresas de 5 países.
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div id="youtube" class="section">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="iframe-container">
                    <iframe height="250" src="https://www.youtube.com/embed/IN6QnLpVEPI" frameborder="0" gesture="media"
                        allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="iframe-container">
                    <iframe height="250" src="https://www.youtube.com/embed/IN6QnLpVEPI" frameborder="0" gesture="media"
                        allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="iframe-container">
                    <iframe height="250" src="https://www.youtube.com/embed/IN6QnLpVEPI" frameborder="0" gesture="media"
                        allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="iframe-container">
                    <iframe height="250" src="https://www.youtube.com/embed/IN6QnLpVEPI" frameborder="0" gesture="media"
                        allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="iframe-container">
                    <iframe height="250" src="https://www.youtube.com/embed/IN6QnLpVEPI" frameborder="0" gesture="media"
                        allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="iframe-container">
                    <iframe height="250" src="https://www.youtube.com/embed/IN6QnLpVEPI" frameborder="0" gesture="media"
                        allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#" target="_blank" class="btn btn-lg btn-round">
                Ver mas videos
            </a>
        </div>
    </div>
    <div id="blog-card" class="section">
        <div class="cards">
            <div class="container">
                <div class="title">
                    <h1>Lee mis articulos del blog de marca personal</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-background"
                            style="background-image: url('{{ url_for ('static', filename ='assets/img/blog/Carta7.png')}}')">
                            <div class="card-body">
                                <div class="author">
                                    <div class="d-flex justify-content-left">
                                        <img class="avatar img-raised"
                                            src="{{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}}" />
                                    </div>
                                </div>
                                <h3 class="card-title text-left">The Sculpture Where Details Matter</h3>
                                <p class="card-description text-left">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love
                                    you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="text-left">
                                    Leer más...
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background"
                            style="background-image: url('{{ url_for ('static', filename ='assets/img/blog/Carta6.png')}}')">
                            <div class="card-body">
                                <div class="author">
                                    <div class="d-flex justify-content-left">
                                        <img class="avatar img-raised"
                                            src="{{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}}" />
                                    </div>
                                </div>
                                <h3 class="card-title text-left">The Sculpture Where Details Matter</h3>
                                <p class="card-description text-left">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love
                                    you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="text-left">
                                    Leer más...
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background"
                            style="background-image: url('{{ url_for ('static', filename ='assets/img/blog/Carta5.png')}}')">
                            <div class="card-body">
                                <div class="author">
                                    <div class="d-flex justify-content-left">
                                        <img class="avatar img-raised"
                                            src="{{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}}" />
                                    </div>
                                </div>
                                <h3 class="card-title text-left">The Sculpture Where Details Matter</h3>
                                <p class="card-description text-left">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love
                                    you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="text-left">
                                    Leer más...
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background"
                            style="background-image: url('{{ url_for ('static', filename ='assets/img/blog/Carta4.png')}}')">
                            <div class="card-body">
                                <div class="author">
                                    <div class="d-flex justify-content-left">
                                        <img class="avatar img-raised"
                                            src="{{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}}" />
                                    </div>
                                </div>
                                <h3 class="card-title text-left">The Sculpture Where Details Matter</h3>
                                <p class="card-description text-left">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love
                                    you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="text-left">
                                    Leer más...
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background"
                            style="background-image: url('{{ url_for ('static', filename ='assets/img/blog/Carta3.png')}}')">
                            <div class="card-body">
                                <div class="author">
                                    <div class="d-flex justify-content-left">
                                        <img class="avatar img-raised"
                                            src="{{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}}" />
                                    </div>
                                </div>
                                <h3 class="card-title text-left">The Sculpture Where Details Matter</h3>
                                <p class="card-description text-left">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love
                                    you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="text-left">
                                    Leer más...
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background"
                            style="background-image: url('{{ url_for ('static', filename ='assets/img/blog/Carta2.png')}}')">
                            <div class="card-body">
                                <div class="author">
                                    <div class="d-flex justify-content-left">
                                        <img class="avatar img-raised"
                                            src="{{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}}" />
                                    </div>
                                </div>
                                <h3 class="card-title text-left">The Sculpture Where Details Matter</h3>
                                <p class="card-description text-left">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love
                                    you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="text-left">
                                    Leer más...
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background"
                            style="background-image: url('{{ url_for ('static', filename ='assets/img/blog/Carta1.png')}}')">
                            <div class="card-body">
                                <div class="author">
                                    <div class="d-flex justify-content-left">
                                        <img class="avatar img-raised"
                                            src="{{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}}" />
                                    </div>
                                </div>
                                <h3 class="card-title text-left">The Sculpture Where Details Matter</h3>
                                <p class="card-description text-left">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love
                                    you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="text-left">
                                    Leer más...
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background"
                            style="background-image: url('{{ url_for ('static', filename ='assets/img/blog/Carta.png')}}')">
                            <div class="card-body">
                                <div class="author">
                                    <div class="d-flex justify-content-left">
                                        <img class="avatar img-raised"
                                            src="{{ url_for ('static', filename ='assets/img/Fotoprincipal.png')}}" />
                                    </div>
                                </div>
                                <h3 class="card-title text-left">The Sculpture Where Details Matter</h3>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation in
                                    truth And I love
                                    you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="text-left">
                                    Leer más...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}